{% extends 'base.html' %}

{% comment %} Carga de archivos estaticos {% endcomment %}
{% load static %}

{% block title %} Day Quotes {% endblock %}

{% block page_styles %}
    <link rel="stylesheet" href="{% static 'quotes/styles.css' %}">
{% endblock page_styles %}


{% block content %}
    {% include './includes/partial.html' with name=name day_weeks=day_weeks %}
    <h1>{{ name }}</h1>
    <h2>{{ date | date:"d/m/Y" }}</h2>

    <ul>
        {% for day in day_weeks %}
            <li><a href="{% url 'day' day %}">{{ day }}</a></li>
        {% empty %}
            <li>No hay días disponibles</li>
        {% endfor %}
    </ul>
{% endblock %}
